<!-- Modal -->
<div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="modalFormLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold" id="modalFormLabel">{{ update_title }}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" class="fw-form" id="fw-form">
                    {{ form.csrf_token }}
                    {% include 'form_errors.html' %}
                    <div class="form-group my-3">
                        <input type="hidden" class="form-control" name="no" id="no" value="{{ '' }}">
                    </div>
                    {% for field in form %}
                    <div class="form-group my-3">
                        {% if field.id not in ['csrf_token', 'id'] %}
                        {{ field.label }}
                        {% endif %}
                        {% if field.id not in ['csrf_token', 'id'] %}
                        {{ field(class_='form-control') }}
                        {% elif field.id in ['id'] %}
                        {{ field(type='hidden', class_='form-control') }}
                        {% endif %}
                    </div>
                    {% endfor %}    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-save">Save changes</button>
                <button type="button" class="btn btn-primary" id="btn-delete">Delete</button>
            </div>
        </div>
    </div>
</div>