<div class="container-fluid my-3">
    {% if update_title == 'Firewall' %}
    <button type="button" class="btn btn-primary my-3" id="update">
        {{ update_title + ' Update' }}
    </button>
    {% endif %}
    <table class="table">
    {% if data_list %}
        <thead>
            <tr class="table-dark">
                <th class="text-center align-middle">번호</th>
                {% for column in column_header %}
                <th class="text-center align-middle">{{ column.header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for data in data_list %}
            <tr>
                <td class="text-center align-middle" id="td{{ loop.index0 }}">{{ paging.offset + loop.index0 + 1}}</td>
                {% for column in column_header %}
                {% if column['accessor'] == 'ip'%}
                <td class="text-center align-middle"><a href="{{ analyze_site + data[column['accessor']] }}" target="_blank">{{ data[column['accessor']] }}</a></td>
                {% elif column['accessor'] == 'host' %}
                <td class="text-center align-middle"><a href="{{ url_for('main.access_by_site', site=data[column['accessor']]) }}">{{ data[column['accessor']] }}</a></td>
                {% elif column['accessor'] == 'ticket' %}
                <td class="text-center align-middle"><a href="{{ url_for('main.history', ticket=data[column['accessor']]) }}">{{ data[column['accessor']] }}</a></td>
                {% elif column['accessor'] == 'status' %}
                <td class="text-center align-middle"><a href="{{ url_for('main.access_by_status', status=data[column['accessor']]) }}">{{ data[column['accessor']] }}</a></td>
                {% else %}
                <td class="text-center align-middle">{{ data[column['accessor']] }}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <tr>
            <td colspan="3">{{ update_title + ' 정보가 없습니다.' }}</td>
        </tr>
    {% endif %}
    </table>
</div>


